*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poopins', sans-serif;
}
body{
 background-color: #222;
 
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7; /* Adjust this for clarity */
}

.card{
    width: 90%;
    max-width: 470px;
    height: 600px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: #fff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 2px solid rgba(red, green, blue, .6);
    outline: 0; 
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    font-size: 20px;
    padding: 20px 45px 20px 20px;
    
}
.search button{
    background: #ebfffc;
    outline: 0;
    border: 2px solid rgba(red, green, blue, .6);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.search button img{
    width: 20px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
    align-items: center;
}
.col{
    display: flex;
    text-align: left;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity ,.wind{
    font-size: 30px;
    margin-top: -10px;
}

/* .weather{
    display: none;
} */
.error{
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}